@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global tweaks */
body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

html.dark body {
  @apply bg-slate-900 text-slate-100;
}

code { @apply font-mono text-brand-600 dark:text-brand-300; }

/* Custom animation for polling timer */
@keyframes subtle-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(20, 184, 166, 0.2);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(20, 184, 166, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(20, 184, 166, 0);
  }
}

.animate-pulse {
  animation: subtle-pulse 2s infinite;
}